.content {
    max-width: 1184px;
    width: 92.5vw;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1024px) {
    .content {
        max-width: 1024px;
        width: 100vw;
    }
}

@media screen and (max-width:768px) {
    .content {
        max-width: 768px;
    }
}

@media screen and (max-width:320px) {
    .content {
        max-width: 319px;
    }
}