.header__link {
    display: flex;
    line-height: 28px;
    font-size: 24px;
    font-weight: 400;
    max-width: 30px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 18px;
    margin-right: 0;
    margin-top: 18px;

}

@media screen and (max-width:320px) {
    .header__link {
        max-width: 22px;
        font-size: 18px;
        line-height: 20px;
        margin-top: 14px;
    }
}


.header__link:hover {
    color: #FFFFFF;
    opacity: 0.8;
    transition: opacity 3s ease;
}