.footer__copyright {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width:600px) {
    .footer__copyright {
        margin-left: 0;
        margin-top: 48px;
    }
}

@media screen and (max-width:319px) {
    .footer__copyright {
        line-height: 83%;
    }
}