.lead__image {
    max-width: 984px;
    min-height: 615px;
    margin: 0 auto 8px;
    display: grid;
}

@media screen and (max-width:1023px) {
    .lead__image {
        max-width: 928px;
        min-height: auto;
        width: 100vw;
    }
}

@media screen and (max-width:767px) {
    .lead__image {
        max-width: 768px;
        min-height: auto;
        width: 100vw;
    }
}


@media screen and (max-width:319px) {
    .lead__image {
        max-width: 320px;
        min-height: auto;
        width: 100vw;
    }
}