.lead__subtitle {
    max-width: 640px;
    font-weight: 400;
    font-size: 30px;
    line-height: 99%;
    text-align: center;
    margin: 32px auto 64px;
}

@media screen and (max-width:1023px) {
    .lead__subtitle {
        margin-top: 32px;
        margin-bottom: 56px;
    }
}

@media screen and (max-width:720px) {
    .lead__subtitle {
        max-width: 83.33vw;
        font-size: 3.9vw;
        min-height: auto;
    }
}

@media screen and (max-width:319px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 103%;
        margin-bottom: 40px;
        margin-top: 16px;
    }
}