.cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    margin: 0 auto 32px;
    padding-top: 245px;
    max-width: 560px;
    color: #FFFFFF;
    z-index: 2;

}

@media screen and (max-width:767px) {
    .cover__title {
        font-size: 9.375vh;
    }
}

@media screen and (max-width:319px) {
    .cover__title {
        font-size: 10vw;
        line-height: 90%;
        margin: 0 auto 16px;
        max-width: 288px;
        padding-top: 33px;
    }
}