.place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
}
@media screen and (max-width:768px) {
    .place__url-heading {
        font-size: 1.562vw;
    }
}
@media screen and (max-width:320px) {
    .place__url-heading {
        font-size: 12px;
    }
}