.place__website {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
}

.place__website:first-child {
    margin-top: 106px;
}

@media screen and (max-width:1024px) {
    .place__website {
        margin-top: 134px;
    }
}
@media screen and (max-width:768px) {
    .place__website {
        margin-top: 17.44vw;
    }
}

@media screen and (max-width:320px) {
    .place__website {
        max-width: 288px;
        margin-top: 0px;
        margin-left: 16px;
        margin-right: 16px;
    }
}